# Configuration Discord Bot
DISCORD_TOKEN=your_discord_bot_token_here

# Configuration Bot
BOT_PREFIX=.v

# Configuration Dashboard (optionnel)
DASHBOARD_PORT=3001

# Configuration Redis (optionnel)
REDIS_URL=redis://localhost:6379
REDIS_ENABLED=false

REDIS_URL=redis-11351.c261.us-east-1-4.ec2.redns.redis-cloud.com
REDIS_HOST=redis-11351.c261.us-east-1-4.ec2.redns.redis-cloud.com
REDIS_PORT=11351
REDIS_PASSWORD=IsP6w7cpx1DkkKVwumLKXqsNAKcj1Nif
REDIS_DB=0